<footer>
  <div
    style="
      display: flex;
      justify-content: space-between;
      padding: 40px 80px;
      background-color: rgba(0, 181, 205, 0.6);
    "
    class="contact-section"
  >
    <div style="flex: 1" class="clear-marge">
      <h3
        style="font-size: 1em; text-transform: uppercase; text-align: center"
        class="section-title"
      >
        address
      </h3>
      <p style="font-size: 1em; text-align: center">
        Quartier Yéhouémey Ouchihoué, EL : 2372, Lot 92 Parcelle C3,
        Arrondissement d’Azové, Commune d’Aplahoué, Département du Couffo.
      </p>
    </div>

    <div style="width: 400px" class="clear-marge">
      <h3
        style="font-size: 1em; text-transform: uppercase; text-align: center"
        class="section-title"
      >
        telephone
      </h3>

      <ul
        style="
          font-size: 1em;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0;
          padding: 0;
          text-align: center;
        "
      >
        <li style="display: block; margin-top: 10px; font-size: 1em">
          (00229) 66 40 66 18
        </li>
        <li style="display: block; margin-top: 10px; font-size: 1em">
          (00229) 66 63 63 79
        </li>
        <li style="display: block; margin-top: 10px; font-size: 1em">
          (00229) 67 37 55 54
        </li>
        <li style="display: block; margin-top: 10px; font-size: 1em">
          (00229) 63 66 24 89
        </li>
        <li style="display: block; margin-top: 10px; font-size: 1em">
          (00229) 90 19 40 16
        </li>
      </ul>
    </div>

    <div style="width: 400px" class="clear-marge">
      <h3
        style="font-size: 1em; text-transform: uppercase; text-align: center"
        class="section-title"
      >
        Email
      </h3>
      <p style="font-size: 1; text-align: center">
        <a
          style="text-decoration: none; color: #000"
          href="mailto:datagenesafrica@gmail.com"
        >
          datagenesafrica@gmail.com</a
        >
      </p>
    </div>
  </div>
  <hr />
  <h5 class="copyright">
    Copyright © {{ current_year }} Datagenes-Africa. Tous droits réservés
  </h5>
</footer> 