<header class="clear-marge">
  <div class="header">
    <div class="logo">
      <h1><a style="color: #000" href="">datagenes-africa</a></h1>
    </div>
    <nav style="background: none" class="nav">
      <ul
        style="border: none; background-color: none; font-size: 1.3em"
        class="nav-links clear-marge"
      >
        <li style="border: none">
          <a
            style="color: #000; border: none; text-transform: uppercase"
            class="nav-link"
            href=""
            >home</a
          >
        </li>
        <li style="border: none">
          <a
            style="color: #000; border: none; text-transform: uppercase"
            class="nav-link"
            href=""
            >contact</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
